<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <description>Proxy testapp</description>
    <display-name>Proxy testapp</display-name>

    <servlet>
        <servlet-name>AsyncProxy</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://www.pojosontheweb.com/smiley-proxy-test</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>async</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>AsyncProxy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
